
@font-face {
    font-family: 'Magnolia Script';
    src: local('Magnolia Script'), local('Magnolia-Script'), url('Magnoliascript.woff2') format('woff2'), url('Magnoliascript.woff') format('woff'), url('Magnoliascript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: 'Magnolia Script', sans-serif;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #7f94ac;
}
.widget {
    margin: 5px;
    padding: 15px;
    width: auto;
    height: auto;
    background: #306cb1;
    color: #fff;
    
       
}

.js-result {
    border: none;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #c44234;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}

.js-result:focus {
    outline: 2px solid #c53b2d;
    outline-offset: 5px;
}

.from-row:nth-child(n+2) {
    margin-top: 35px;
    margin-left: 25px;
}

.form-group {
    display: block;
}

.form-hint {
    font-size: 16px;
}

.js-output {
    font-size: 20px;
    color: #ff1900;
}

input {
    width: 50px;
}
